
html {
  background-color: #F7F8F9;  
}

body {
  font-family: sans-serif;
  color: #6b7c93;
  font-size:18px;
  font-weight:bold;
  background-color: #F7F8F9;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
}
a {
  color:#aaaaaa;
  text-decoration: none;
}
a:visited {
  color:#999999;
  text-decoration: none;
}
